.app-header {
    &__logo {
        padding-inline-start: 3.2rem;
        padding-inline-end: 2rem;
        height: 32px;
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            padding-inline-start: 0.8rem;
            padding-inline-end: 0.6rem;
        }

        .brand-logo-text {
            &-full {
                @media (max-width: 1024px) {
                    display: none;
                }
            }
            &-short {
                display: none;
                @media (max-width: 1024px) {
                    display: inline;
                }
            }
        }
    }
}

.brand-logo-title-text {
    white-space: nowrap;
    
    @media (max-width: 380px) {
        font-size: 13px !important;
    }

    @media (max-width: 340px) {
        font-size: 11px !important;
    }
}
